@charset "UTF-8";

@media screen and (max-width: 500px) {
    /*Tela de Login*/
       
    /*body*/
    body{
        margin: auto;
        width: 970px;
    }
    /*header*/
    .body-cadastro{
        width: 670px;
    }
    .cabecalho{
        width: 100%;
        height: 350px;
        background-color: rgb(5, 34, 78);
        padding: 40px 0px 20px 0px;
        border-radius: 10px 10px 0px 0px;
    }
    .logo{
        margin-top: 15px;
        margin-left: 30px;
        width: 220px;
        height: auto;
        display: absolute;
    }
    .logo img{
        width: 220px;
    }
    .titulo-cabecalho{
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 420px;
        display: flex;
        color: lightgray;
    }
    .titulo-cabecalho h1{
        margin: auto;
        margin-top: 20px;
        font-size: 42px;
    }
    #nome-usuario{
        font-style: italic;
        width: 200px;
        color: lightgray;
        text-align: right;
        margin-left: 160%;
        margin-top: -10px;
        position: absolute;
        font-size: 22px;
    }
    .mbl-oculta{
        display: none;
    }
    .titulo-cabecalho h1.mbl-titulo{
        margin-top: 80px;
    }

    /*nav*/
nav.menu{
    display: none;
    background-color: #c0c0c0;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border: solid 1px gray;
    box-shadow: 0px 2px 5px 0px gray;
}
.menu ul{
    padding: 0px;
}
.menu ul li{
    background-color: #c0c0c0;
    width: 130px;
    height: 42px;
    line-height: 42px;
    margin-left: -4px;
}
.menu ul li:hover{
    background-color: lightgray;
    transition: 0.2s;
}
.menu li{
    border-right: solid 1px gray;
    font-size: 18px;
    margin-top: -12px;
    list-style: none;
    display: inline-block;
    position: relative;
}
.menu li ul{
    display: none;
}
.menu li:hover > ul{
    display: block;
    position: absolute;
    margin-left: 4px;
}
.menu li ul li{
    padding-top: 2px;
    font-size: 14px;
}
.menu a{
    text-decoration: none;
    color: black;
}
/*main*/

.cadastro-celulares{
    width: 587px;
    background-color: #f7fdd5;
    text-align: left;
    border-radius: 8px;
    padding: 35px;
    padding-top: 17px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;   
}
.cadastro-celulares input{
    font-size: 30px;
    border: solid 1px;
    height: 30px;
}
.cadastro-celulares h3{
    font-size: 28px;
}
.info-dispositivo{
    box-shadow: inset 0px 0px 3px gray;
    background-color: white;
    border: solid 1px gray;
    padding: 15px;
    border-radius: 5px;
    font-size: 22px;
}
.info-dispositivo select{
    font-size: 20px;
}
.info-responsavel{
    box-shadow: inset 0px 0px 3px gray;
    background-color: white;
    border: solid 1px gray;
    padding: 15px;
    border-radius: 5px;
    font-size: 22px;
}
.info-responsavel p{
    font-size: 25px !important;
}
#input-file{
    font-size: 20px;
}
.input-cadastro{
    box-shadow: inset 0px 0px 2px gray;
    border-radius: 1.7px;
    height: 20px;
}
#span_cracha{
    color: rgb(100, 100, 100);
    font-size: 25px;
    border: solid 1px black;
    border-right: none;
    padding: 3px 4px 3px 2px;
    border-radius: 3px 0px 0px 3px;
    font-style: italic;
}
.select-programas{
    background-color: #f7fdd5;
    border: solid 1px gray;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    height: 800px;
    box-shadow: 0px 2px 3px gray;
    padding: 30px;
}
.div-programas{
    background-color: white;
    border: solid 1px gray;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 2px;
}
.select-h3{
    text-align: center;
    font-size: 23px;
}
form.form-programas{
    text-align: center;
}
#select-inst{
    font-size: 22px;
    width: 250px;
    height: 70px;
}
.download-modelo{
    list-style: none;
    margin-left: 20px;
    margin-top: 30px;
}
.download-modelo h4{
    margin-top: 50px;
    font-style: italic;
    text-decoration: underline;
}
.download-modelo ul{
    list-style: none;
    line-height: 10px;  
    margin-left: 0px;
    margin-top: 30px;
}
.ul-programas li{
    line-height: 25px;
    list-style: disc;
}
.ul-indice{
    margin-top: 25px;
    font-size: 19px;
}
.download-modelo a:hover{
    text-decoration: underline;
}

/*tabela*/
table#tabela{
    color: black;
    border: solid 1px gray;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse; 
    box-shadow: 0px 2px 2px gray;
}
#tabela th{
    border-right: solid 1px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 42px;
    padding-right: 42px;
    margin-left: 10px;
    margin-right: 10px;
    color: lightgray;
    background-color: rgb(5, 34, 78);
    font-size: 17px;
}
#tabela td{
    text-align: center;
    padding-top: 30px;
    font-size: 18px;
}
table#tabela tr#tr2{
    border-bottom: solid 1px gray;
}
table#tabela tr#tr2:hover{
    background-color: lightcyan;
}
#alt {
    padding: none;
    border: none !important;
}
#alt2{
    font-size: 11px;
}



/*footer*/
.footer{
    background-image: linear-gradient(to top, lightblue, lightcyan);
    height: 100px;   
}
.direitos p{
    margin-top: 80px;
    margin-bottom: 0px;
    font-style: italic;
    color: gray;
    text-align: center;
}


/*icones e botões*/
.icone{
    width: 90%;
}
.icon{
    width: 25px;
    padding: 6px;
    display: inline-block;
}
.info{
    width: 20px;
    display: inline-block;
}
.btn-voltar img{
    margin-top: 25px;
    margin-left: 50px;
    width: 5%;
    padding: 3.8px;
    position: relative;
}
.btn-voltar img:hover{
    background-color: rgb(231, 231, 231);
    border-radius: 350px;
}
.btn-info{
    opacity: 0.4;
}
.botao{
    width: 80px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
#btn-enviar{
    margin-top: 50px;
    height: 65px;
    font-size: 25px;
}
#btn-alterar{
    margin-top: 20px;
    height: 40px;   
}
.btn-info-programas{
    width: 50px;
    position: absolute;
    margin-left: 595px;
    margin-top: -105px;
    display: none;
}
#btn-programas{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    font-size: 15px;
}
.maiuscula{
    text-transform: uppercase;
}

}